@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Raleway:wght@100;200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-condensed {
    font-family: 'Raleway';
}

.font-thin {
    font-weight: 100;
}

.font-thin2 {
    font-weight: 200;
}

.text-center {
    font-weight: 200 !important;
}

.wind-font {
    font-size: 24px;
}

