@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Raleway:wght@100;200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-condensed {
    font-family: 'Raleway';
}

.font-thin {
    font-weight: 100;
}

.font-thin2 {
    font-weight: 200;
}

.text-center {
    font-weight: 200 !important;
}

.wind-font {
    font-size: 24px;
}

.recharts-tooltip-wrapper.recharts-tooltip-wrapper-right.recharts-tooltip-wrapper-bottom,
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-right.recharts-tooltip-wrapper-top,
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-left.recharts-tooltip-wrapper-bottom,
.recharts-tooltip-wrapper.recharts-tooltip-wrapper-left.recharts-tooltip-wrapper-top{
    transform: none !important;
    bottom: -16px;
    top: auto !important;
    width: 100%;
    visibility: visible !important;
}

path.recharts-curve.recharts-tooltip-cursor {
    display: none !important;
}

.slick-disabled {
    visibility: hidden !important;
}

circle.recharts-dot.recharts-line-dot {
    visibility: hidden;
}
